.row
  - @champions.each do |champion|
    .col.s4.m3
      .card.small.champion-card
        .card-image
          %img{src: champion.image_url, class: 'champion-image'}/
          %span.card-title= champion.name
        .card-content
          %p
            =champion.title
        .card-action
          %a{href: "/champion/#{champion.id}",class:'champion-link'} Veja Mais
