%html
  %head
    %meta{ charset: "utf-8" }
    %title Lolzinho Champs
    = assets :css
    = assets :js
  %body
    %nav.purple.darken-1
      .nav-wrapper
        %a.brand-logo{:href => "/"} LoL Champs
        %ul#nav-mobile.right.hide-on-med-and-down
          %li
            %a{:href => "/"} Campeões
          %li
            %a{:href => "/items"} Itens

  .container
    %section.content
      = yield

