.champion-title {
    font-size:40px;
}
.champion-image {
    width: 300px;
    height: 300px;
}
.item-title {
    font-size: 30px
}
.items-list {
    margin: 20px;
}
.item-list {
    margin-top: 50px;
}